.Location-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.ant-timeline-item {
  // padding: 0px;
  margin: 0;
}

.ant-timeline-item h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ant-timeline-item p {
  font-size: 12px;
}

.Place-buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.Place-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color:#1890FF;
}
