div.ant-select
  .ant-select-auto-complete
  .ant-select-single
  .ant-select-show-search {
  @media (max-width: $mq-mobile) {
    width: 15rem;
  }
}

.searchButton {
  margin-left: 0.5rem;

  @media (max-width: $mq-tablet) {
    margin-top: 0.5rem;
  }
}
